.slideanim {
    visibility:hidden;
}
.card {
    min-height:200px;
}
.ng-enter.flexCard:nth-of-type(3n+1) {
    animation-delay:500ms;
}
.ng-enter.flexCard:nth-of-type(3n+2) {
    animation-delay:550ms;
}
.ng-enter.flexCard:nth-of-type(3n+3) {
    animation-delay:600ms;
}
@media screen and (min-width:1000px) {
    .flexCard {
        max-width:30vw;
        padding-left:5px;
        padding-right:5px;
    }
    .flexCard:nth-of-type(3n+1) {
        padding-left:10px;
    }
    .flexCard:nth-of-type(3n+3) {
        padding-right:10px;
    }
}
@media screen and (min-width: 700px) and (max-width:999px) {
    .flexCard {
        padding-left:5px;
        padding-right:5px;
    }
    .flexCard:nth-of-type(3n+1) {
        max-width:48vw;
    }
    .flexCard:nth-of-type(3n+2) {
        max-width:48vw;
    }
    .flexCard:nth-of-type(3n+3) {
        max-width:96vw;
    }
}
@media screen and (max-width: 699px) {
    .flexCard {
        max-width: 96vh;
        padding-left:5px;
        padding-right:5px;
    }
}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}
.ng-enter {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 500ms;
    animation-delay: 500ms;
    -webkit-animation-delay: 500ms;
    backface-visibility: hidden;
    -webkit-animation-duration: 500ms;
    -webkit-backface-visibility: hidden;
    /* Make the element visible */
}
.ng-enter-active {
    opacity: 0;
}
.initial {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(60%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(60%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
.slideLeft {
/* The name of the animation */
animation-name: slideLeft;
-webkit-animation-name: slideLeft; 
/* The duration of the animation */
animation-duration: 1s; 
-webkit-animation-duration: 1s;
/* Make the element visible */
visibility: visible; 
}
.ng-leave {
/* The name of the animation */
animation-name: removeDown;
-webkit-animation-name: removeDown; 
/* The duration of the animation */
animation-duration: 500ms; 
-webkit-animation-duration: 500ms;
/* Make the element visible */
visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(60%);
    } 
    100% {
        opacity: 1;
        transform: translateX(0%);
    } 
}
@-webkit-keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

.removeLeft {
/* The name of the animation */
animation-name: removeLeft;
-webkit-animation-name: removeLeft; 
/* The duration of the animation */
animation-duration: 1s; 
-webkit-animation-duration: 1s;
/* Make the element visible */
visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes removeLeft {
    0% {
        opacity: 1;
        transform: translateX(0%);
    } 
    100% {
        opacity: 0;
        transform: translateX(100%);
    } 
}
@-webkit-keyframes removeLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    } 
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}

    @keyframes removeDown {
    0% {
        opacity: 1;
        transform: translateY(0%);
    } 
    100% {
        opacity: 0;
        transform: translateY(60%);
    } 
}
@-webkit-keyframes removeDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
    100% {
        opacity: 0;
        -webkit-transform: translateY(60%);
    }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
display: none !important;
}

.lds-ellipsis {
display: inline-block;
position: relative;
width: 64px;
height: 64px;
}
.lds-ellipsis div {
position: absolute;
top: 27px;
width: 11px;
height: 11px;
border-radius: 50%;
background: #fff;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 6px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 6px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 26px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 45px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
transform: scale(0);
}
100% {
transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
transform: scale(1);
}
100% {
transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
transform: translate(0, 0);
}
100% {
transform: translate(19px, 0);
}
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #ECEFF1;
    border-radius: 50%;
    display: inline-block;
  }
.online {
    animation: pulseOnline 2s infinite;
}
@keyframes pulseOnline {
    0% {
        background-color:rgb(209, 255, 209);
    }
    50% {
        background-color: #39FF14;
    }
    100% {
        background-color: rgb(209, 255, 209);
    }
}