<!-- browser-sync start --server --files="**/*" -->
<!doctype html>
<html lang="en" ng-app="app" ng-controller="mainCtrl as vm">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#263238">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="default.css">

    <title>Login</title>
  </head>

  <body style="background-color: #263238;color:#ECEFF1;" ng-cloak>

    <div class="container" style="padding-bottom:10vh;"></div>

    <div class="container">
        <div class="row">
            <div class="col invisible"></div>
            <div class="col-10 col-md-6 text-center">
                <i style="font-size:100px;color:#ECEFF1" class="fas fa-user-lock"></i>
            </div>
            <div class="col invisible"></div>
        </div>
    </div>

    <div class="container" style="padding:20px;"></div>

    <div class="container initial" ng-if="vm.formExists;">
        <div class="row">
            <div class="col invisible"></div>
            <div class="col-10 col-md-6">
                <form id="mainForm" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="text-center" style="padding-top:16px;">
                    <button ng-click="vm.submit();" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                    </div>
                </form>
            </div>
            <div class="col invisible"></div>
        </div>
    </div>

    <div ng-if="vm.isLoading" class="text-center loading" style="padding-top:6vh;" ng-click="vm.gotResponse();">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>

    <div class="container" ng-if="vm.newFormExists;">
        <div class="row">
            <div class="col-1 col-md-1 invisible"></div>
            <div class="col-5 col-md-5">
                <form id="mainForm" >
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                    </div>
                    <div class="text-center" style="padding-top:16px;">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Button1</button>
                    </div>
                </form>
            </div>
            <div class="col-5 col-md-5">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword3">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                    </div>
                    <div class="text-center" style="padding-top:16px;">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Button2</button>
                    </div>
                </form>
            </div>
            <div class="col-1 col-md-1 invisible"></div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>
    <script>                

    

    (function () {
        angular.module('app', ['ngAnimate'])
        .controller('mainCtrl', function($scope, $http, $timeout) {

            vm = this;
            vm.formExists = true;
            vm.isLoading = false;
            vm.newFormExists = false;
            vm.time = 0;

            vm.timer = function() {
                if (vm.time < 5000) {
                    vm.time += 1000;
                    $timeout(timer, 1000);
                }
            }

            vm.submit = function() {
                vm.formExists = false;
                vm.isLoading = true;
                $timeout( vm.gotResponse, 2000 );
            }

            vm.gotResponse = function() {
                vm.isLoading = false;
                vm.newFormExists = true;
            }


        });

    })();

    </script>
  </body>
</html>